#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=fb-ddns
export PYBUILD_DESTDIR_python3=debian/python3-fb-ddns/
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_install:
	dh_auto_install
	mkdir -pv debian/fb-ddns/usr
	mv -v ${PYBUILD_DESTDIR_python3}/usr/bin debian/fb-ddns/usr
	if test -d ${PYBUILD_DESTDIR_python3}/usr/share/man ; then mkdir -pv debian/fb-ddns/usr/share; mv -v ${PYBUILD_DESTDIR_python3}/usr/share/man debian/fb-ddns/usr/share; fi

# vim: ts=8 list
